<html lang="es">
  <head >
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Usuarios</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../css/Usuarios.css" rel="stylesheet" media="screen">   
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script> 
    <script src="../js/Usuarios.js" language="Javascript"></script>  
  </head>
  <body onload="consultar();">
    <div class="container shadow bg-white">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title">USUARIOS</h1>
            </div>
            <div class="col-sm-12">
                <table class="table table-stripped table-hover">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Rut
                            </th>
                            <th>
                                Perfil
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Apellido
                            </th>
                            <th>
                                Correo
                            </th>
                            <th>
                                Edad
                            </th>
                            <th>
                                Sexo
                            </th>
                            <th>
                                Estado
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tableData">
                    </tbody>
                </table>
            </div>
            <div>
                <button type="button" class="btn btn-outline-danger" onclick="regresar();">REGRESAR</button>
            </div>
        </div>
    </div>
  </body>
</html>
